:root {
	--bg-f: #faf8f5;
}

#root {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: var(--bg-f);
}

.bg-dotted {
	background: none;
	background-color: #fff; /* Color de fondo */
	background-size: 20px 20px; /* Tama침o del patr칩n */
	background-image: radial-gradient(
		circle,
		rgba(138, 138, 138, 0.411) 1px,
		transparent 2px
	);
}

.bg-dotted-back {
	background: none;
	background-color: var(--bg-f); /* Color de fondo */
	background-size: 40px 40px; /* Tama침o del patr칩n */
	background-image: radial-gradient(
		circle,
		rgba(168, 168, 168, 0.411) 1px,
		transparent 2px
	);
}

.message-log {
	position: absolute;
	top: 58px;
	left: 0;
	right: 0;
}

.red {
	color: #f36161;
}

.green {
	color: #58ee58;
}

.shake {
	animation: ErrorMessage 0.2s linear;
}

@keyframes ErrorMessage {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(15px);
	}
	40% {
		transform: translateX(-15px);
	}
	60% {
		transform: translateX(15px);
	}
	80% {
		transform: translateX(-15px);
	}
	100% {
		transform: translateX(0px);
	}
}
